<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
	
	
		<!-- mysql connection configuration  -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Vivek@123</property>
	
		<!-- hibernate configuration -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.formate_sql">true</property>
		
		<!-- mapping resource -->
		<mapping class="com.Hib.Vehicle"/>
		<mapping class="com.Embeddable.Student"/>
		<mapping class="com.Embadable2.Student2"/>
		<mapping class="com.onetoone.Entity.Studento"/>
		<mapping class="com.onetoone.Entity.Address"/>
		<mapping class="com.Onetomany.Entity.StudentC"/>
		<mapping class="com.Onetomany.Entity.Coursec"/>
	
	</session-factory>

</hibernate-configuration>